<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <span class="h3">Listado de Empleados</span>
      <!-- El router link para que el botton nos mueva a crear empleado -->
      <button
        class="btn btn-dark btn-lg float-end"
        routerLink="/create-empleado"
      >
        Agregar
      </button>
      <h5 style="margin-top: 30px" *ngIf="empleados.length == 0">
        No hay datos para mostrar
      </h5>
      <table
        *ngIf="empleados.length > 0"
        class="table table-success table-striped-columns mt-4"
      >
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Documento</th>
            <th>Salario</th>
            <th>Email</th>
            <th>
              <i
                class="fa fa-pencil-square-o fa-lg mx-2"
                aria-hidden="true"
              ></i>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empleado of empleados">
            <td>{{ empleado.nombre }}</td>
            <td>{{ empleado.apellido }}</td>
            <td>{{ empleado.documento }}</td>
            <td>{{ empleado.salario | currency }}</td>
            <td>{{ empleado.email }}</td>
            <td>
              <i
                class="fa fa-pencil-square-o fa-lg text-info mx-2"
                [routerLink]="['/editEmpleado/', empleado.id]"
                aria-hidden="true"
              ></i>
              <i
                (click)="eliminarEmpleado(empleado.id)"
                class="fa fa-trash fa-lg text-danger"
                aria-hidden="true"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- / / Creo lista para ver si me tira los datos de la fire base -->
      <!-- <ul>
        <li class="text" *ngFor="let item of items | async">
          {{item.name}}
        </li>
      </ul> -->
    </div>
  </div>
</div>
