<div class="container pt-4">
    <!-- Creamos una fila (dentro de la fila el col-lg-6 medida de la rejilla) offset-lg-3 (para dejar 3 columnas vacias a la izquierda) -->
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Agregar Empleado</h3>
                    <form class="mt-4" [formGroup]="form">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control form-control-lg" placeholder="Email"
                                    [formControl]="email" required/>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control form-control-lg" placeholder="Usuario"
                                    [formControl]="username" required/>
                            </div>
                            <div class="col">
                                <input class="form-control form-control-lg"
                                    placeholder="password" required/>
                            </div>
                        </div>
                        <!-- Creamos botones de volver y agregar  -->
                        <div class="mt-3">
                            <button type="submit" [disabled]="form.invalid" class="btn btn-dark btn-lg"
                                (click)="createUser()">Registrar
                                usuario</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>